body {
    padding: 0;
    margin: 0;
}

.store-body{
    width:100%;
    min-height: 100vh;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20rem;
}

.search-container{
    display: flex;
    width: auto;
    justify-content: center;
    padding: 10px;
    margin: 30px 40px;
    flex-direction: row;
    height: fit-content;
    gap: 15px;
    font-size: 1.2rem;
}

#search-input {
    max-width: 30rem;
    flex: 1;
    border: 0;
    border-bottom: 3px solid gray;
    font-size: inherit;
    outline: none;
}

#search-input:focus {
    border: 3px solid rgb(90, 70, 172);
    border-radius: 5px;
}

#search-btn {
    border: 0;
    padding: 10px 20px;
    background-color: rgb(90, 70, 172);
    color: white;
    border-radius: 5px;
    font-size: inherit;
}

#search-btn:hover {
    background-color: rgb(106, 86, 185);  
    cursor: pointer;
}

.buttons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    padding: 0 1.3rem;
    box-sizing: border-box;
    z-index: 1;
}

.filter-selection {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    border-color: rgb(106, 86, 185);
    color: rgb(106, 86, 185);
    font-weight: bold;
}

.active {
    background-color: rgb(106, 86, 185);
    color: white;
}

.filter-selection:hover {
    cursor: pointer;
}

.products-container {
display: grid;
justify-content: space-evenly;
row-gap: 45px;
grid-template-columns: auto auto auto;
}

.card {
    width: fit-content;
    padding: 1.1rem 1.1rem 2.2rem 1.1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.722);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.hide {
    display: none;
}

.card:hover {
   translate: 0px -10px; 
   transition-duration: 0.3s;
}

.img-container {
    width: 18rem;
    box-sizing: border-box;
    object-fit: cover;
}

.img-container img {
    width: 100%;
}

.description {
    margin: 0;
    position: absolute;
    bottom: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 0.9rem;
}

@media(max-width: 1020px) {
    .products-container{
        grid-template-columns: auto auto;
    }
}

@media (max-width: 700px) {
    .img-container {
        width: 8rem;
    }
    .description{
        font-size: 0.6rem;
    }
    .search-container {
        font-size: 0.9rem;
    }
    .filter-selection{
        font-size: 0.9rem;
    }
    .products-container{
        grid-template-columns: auto auto auto;
    }
    .buttons{
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        background-color: rgb(106, 86, 185);
        padding: 0.8rem 1.1rem;
    }
    .filter-selection {
        background-color: rgb(106, 86, 185);
        border-color: white;
        color: white;
    }
    .active {
        background-color: white;
        color:  rgb(106, 86, 185);
    }
}

@media (max-width: 530px){
    .img-container {
        width: 8rem;
    }
    .products-container{
        grid-template-columns: auto auto;
    }
    .products-container {
        column-gap: 5px;
        row-gap: 12px;
    }
}

@media (max-width: 430px){
    .filter-selection{
        font-size: 0.7rem;
    }
    .products-container{
        grid-template-columns: auto auto;
    }
}

@media (max-width:380px){
    
    .products-container{
        grid-template-columns: auto;
    }
}