body {
    padding: 0;
    margin: 0;
}

.store-body{ 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width:100%;
    min-height: 100vh;
    padding-bottom: 20rem;
}

.search-container{
    display: flex;
    width: 80%;
    max-width: 600px;
    justify-content: center;
    padding: 10px;
    margin: 2rem 2.5rem;
    flex-direction: row;
    height: fit-content;
    gap: 15px;
    font-size: clamp(.8rem, 3vw, 1.5rem);
}

#search-input {
    width: 70%;
    flex: 1;
    border: 0;
    border-bottom: 3px solid gray;
    font-size: inherit;
    outline: none;
}

#search-input:focus {
    border: 3px solid rgb(90, 70, 172);
    border-radius: 5px;
}

#search-btn {
    border: 0;
    padding: min(3%, 10px) min(8%, 20px);
    background-color: rgb(90, 70, 172);
    color: white;
    border-radius: 5px;
    font-size: inherit;
}

#search-btn:hover {
    background-color: rgb(106, 86, 185);  
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    margin-bottom: 40px;
    padding: 0 1.3rem;
    box-sizing: border-box;
    z-index: 1;
}

.filter-selection {
    border: .18rem solid rgb(106, 86, 185);
    border-radius: 2rem;
    padding: 1% 2%;
    font-size: clamp(.8rem, 3vw, 1.5rem);
    color: rgb(106, 86, 185);
    font-weight:bold;
}

.active {
    background-color: rgb(106, 86, 185);
    color: white;
}

.filter-selection:hover {
    cursor: pointer;
}

.products-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(10rem, 15rem));
width: 80%;

column-gap: 2%;
justify-content: space-around;
row-gap: 45px;
}

.card {
    width: 100%;
    box-sizing: border-box;
    padding: 8%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.722);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.hide {
    display: none;
}

.card:hover {
   translate: 0px -10px; 
   transition-duration: 0.3s;
}

.img-container {
    display: flex;
    width: 100%;
    aspect-ratio: 9 / 12;
    box-sizing: border-box;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    align-self: center;
}

.description {
    margin: 0.5rem 0 0 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 1rem;
    text-wrap: wrap;
}

@media (max-width: 768px) {
    .buttons{
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        background-color: rgb(106, 86, 185);
        padding: 1.1rem 1.1rem;
    }
    .filter-selection {
        background-color: rgb(106, 86, 185);
        border-color: white;
        color: white;
    }
    .active {
        background-color: white;
        color:  rgb(106, 86, 185);
    }
}

@media (max-width: 700px) {
    .products-container {
        grid-template-columns: repeat(auto-fill, minmax(8rem, 10rem));
    }
    .description {
        font-size: .5rem;
    }
}

@media (max-width: 409px) {
    .products-container {
        grid-template-columns: repeat(auto-fill, minmax(4rem, 6rem));
    }
}